* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 400px; /* Adjusted width for the sign-up form */
    max-width: 100%;
    padding: 40px;
    position: relative;
}

.container h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px; 
}

.container p {
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
    display: block;
    margin: 10px 0;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: orange;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: none;
    border-radius: 8px;
    font-weight: 600; 
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    width: 100%; 
}

.container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 50%; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px; 
    width: 40px;
    height: 40px;
}

.social-icons a:hover {
    background-color: rgba(255, 165, 0, 0.2);
}